.container1{
    background-image: linear-gradient(0deg, rgba(123, 8, 0, 0.897) 20%, rgba(255,255,255,0.27494747899159666) 100%), url(../../../public/header-img.jpg);
    background-size: cover;
    background-position: center;
}
.container2{
    background-image: linear-gradient(0deg, rgba(122,101,0,0.897) 20%, rgba(255,255,255,0.27494747899159666) 100%), url(../../../public/header-img.jpg);
    background-size: cover;
    background-position: center;
}
.container3{
    background-image: linear-gradient(0deg, rgba(0,122,51,0.897) 20%, rgba(255,255,255,0.27494747899159666) 100%), url(../../../public/header-img.jpg);
    background-size: cover;
    background-position: center;
}